/* Importions */

@import url(
    'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
);

/* Animations */

@keyframes hoverLink {
    100% {color: lightgray};
}

/* Default Elements */

body {
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    background-color: black;
    background-image: url("/res/images/homebg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

a {
    transition: color 100ms;
    color: white;
    font-size: large;
    font-weight: 400;
    text-decoration: none;
    text-shadow: 0px 5px 10px black;
}
a:hover {
    color: lightgray;
}
a:active {
    color: skyblue;
    text-shadow: 0px 20px 5px black;
}

/* IDs and Classes */

#bannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    height: 200px;
}

.navbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 190%);
}

.link {
    margin-right: 20px;
}