#title {
    position: relative;
    margin-left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar {
    position: sticky;
    display: table;
    margin-top: 0;
    top: 0;
}

.navlink {
    margin-left: 10px;
    margin-right: 10px;
    display: table-cell;
}

.sectiontitle {
    margin: 10px;
}

.ltstmsc {
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
    display: inline-block;
}

.projectpanel {
    margin: auto;
    margin-top: 20px;
}

.pptitle {
    margin: 10px;
    padding-top: 40px;
}

.ppdesc {
    margin: 10px;
    padding-top: 10px;
}

#movingtext {
    display: block;
    margin: auto;
}

#submitTxt {
    display: block;
    margin: auto;
}

.contactlink {
    margin-bottom: 200px;
}

#coolthings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright {
    margin-bottom: 40px;
}

#track {
    display: flex;
    margin: auto;
    margin-top: 20px;
}

.tlalbumart {
    margin: 10px;
}

.tlartistname {
    display: inline-block;
}

.tlalbumname {
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    padding-top: 30px;
    padding-left: 110px;
}

.tldownload {
    display: inline-block;
    position: sticky;
    margin: 10px;
    margin-left: 70px;
    left: 310px;
    margin-top: 65px;
    bottom: 450px;
    width: 100px;
    height: 20px;
}

.tlalltracks {
    position: absolute;
    margin: 10px;
    padding-left: 110px;
    top: 83px;
}

.tlyear {
    position: absolute;
    margin: 10px;
    left: 340px;
}